<div class="wrapper">
  <div class="main">
    <div class="news">
      <div class="slider">
        <app-news-slider
        [sliderNews]="sliderNews"
        (postClicked)="onPostClicked($event)"
        ></app-news-slider>
      </div>
      <div class="news-list">
        <app-news-list
        [news]="news"
        (showDescription)="onShowDescription($event)"
        ></app-news-list>
      </div>
    </div>
    <div class="form">
      <app-news-form
      (postCreated)="onPostCreated($event)"
      ></app-news-form>
    </div>
  </div>

  <app-news-modal
  *ngIf="isModalOpened"
  [description]="modalDescription"
  (modalClosed)="onModalClosed()"
  ></app-news-modal>
</div>
